* {                             /* reset margin padding box-sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*  max-width: 512px;  */
}

body {
    width: 512px;               /* page width */
    background-color: rgb(7, 7, 150) ;  /* add background color */
    color: white    ;         /* change text color to white */
}
img {
    max-width: 100%;            /* relative img width set to 100% */
}
button {                        /* style button */
    font-family: "dm sans";
    width: 380px;
    margin: 10px 50px;
    border-radius: 12px;
    height: 50px;
    border-color:rgb(7, 7, 150);
    
}
.main_paragraph {               /* style main_paragraph */
    text-align: center;
    margin: 50px 50px 20px;    /* align main_paragraph */
   
}
h2{                             /* style h2 */
    text-transform: uppercase;
    font-size: 40px;
    font-family:"sigmar"
}
p{                              /* style p */
    font-family: "dm sans";
}
#colored_button {               /* style colored_button */
    background-color: rgb(98, 88, 243);
    color: white;
}
.box {                            /* Style box */                 
    background-color: rgb(98, 88, 243);
    padding: 16px;
    border-radius: 20px;
    margin: 24px;   
}
video{                      /* style video */
    border-radius: 10px;
    max-width: 330px;
    margin: 8px;

}
#streamer_img{            /* style streamer_img */
    border-radius: 24px;
    margin-top: 8px;
    max-width: 330px;

}
.box_icon {
    max-width: 60px;
    position: absolute;
    top: 40px;
}
section{
    align-items: center;
}
#box_1{
    position: relative;
}
#discord_cube{
top: -30px;
position: absolute;
}
#box_2{
    position:relative ;
}
#eyes{
    position: absolute;
    top: -30px;
}
#buttons_group{
    padding: 20px;
    
}
h1{
 text-transform: uppercase;
    font-size: 40px;
    font-family:"sigmar"   
}