* {                             /* reset margin padding box-sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*  max-width: 512px;  */
}

body {
    width: 512px;               /* page width */
    background-color: rgb(7, 7, 150) ;  /* add background color */
    color: white    ;         /* change text color to white */
}
img {
    max-width: 100%;            /* relative img width set to 100% */
}
button {                        /* style button */
    font-family: "dm sans";
    width: 380px;
    margin: 10px 50px;
    border-radius: 12px;
    height: 50px;
    border-color:rgb(7, 7, 150);
    
}
.main_paragraph {               /* style main_paragraph */
    text-align: center;
    max-width: 380px;
    margin: 50px 50px 20px;    /* align main_paragraph */
   
}
h2{                             /* style h2 */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    font-family:"sigmar"
}
p{                              /* style p */
    font-family: "dm sans";
}
#colored_button { /* style colored_button */
    background-color: rgb(98, 88, 243);
    color: white;
}
.box {
    background-color: rgb(98, 88, 243);
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    botto
    
}
video{
    width: 100%;
    border-radius: 10px;
    
}