* {                             /* reset margin padding box-sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*  max-width: 512px;  */
}

body {
    width: 512px;
}
img {
    max-width: 100%;
}
button {
    font-family: "dm sans";
    width: 400px;
    margin: 16px;
    border-radius: 12px;
    height: 50px;
}
section{
    font-family:"sigmar" ;
}
.main_paragraph {
    text-align: center;
}